@import "tailwindcss";

@theme {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Code", monospace;
  
  --color-brand: #4f46e5; /* indigo-600 */
  --color-bg-app: #F3F4F6;
}

:root {
  background-color: var(--color-bg-app);
  color: #111827;
}

body {
  font-family: var(--font-sans);
  @apply antialiased;
}

.code-font {
  font-family: var(--font-mono);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D1D5DB;
  border-radius: 10px;
}

.glass {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
}

